[Unit]
Description = conky startup
After=wm.target
After=xrdb.service
After=xthings.service

[Service]
Type=forking
ExecStart=/usr/bin/conky -d -c /home/eddie/.conky/%I
Environment=DISPLAY=:0

[Install]
WantedBy = mystuff.target