[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=Forking
ExecStart=/usr/bin/emacs-24.4 --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always

[Install]
WantedBy=multi-user.target
