[Unit]
Description = FlexGet Daemon
After = network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart = /usr/bin/flexget execute
#ExecStop = /usr/bin/flexget daemon stop
#ExecReload = /usr/bin/flexget daemon reload
#KillMode=process

[Install]
WantedBy = default.target
