[Unit]
Description = Stalonetray
After = wm.target

[Service]
ExecStart = /usr/bin/stalonetray -c /home/eddie/.stalonetrayrc
Environment=DISPLAY=:0
Restart = always

[Install]
WantedBy = mystuff.target