[Unit]
Description=main tmux client

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s %u -n 'weechat' 'weechat-curses'
ExecStart=/usr/bin/tmux new-window 'ncmpcpp'
ExecStart=/usr/bin/tmux new-window 'zsh'
ExecStop=/usr/bin/tmux kill-session

[Install]
WantedBy=mystuff.target
