[Unit]
Description = x11vnc startup
After=wm.target

[Service]
ExecStart = /usr/bin/x11vnc -ncache_cr -ncache 10 -passwd 3392idst -forever -rfbport 5900
Environment=DISPLAY=:0
Restart = always

[Install]
WantedBy = mystuff.target
