[Unit]
Description=Load X resources
After=wm.target
[Service]
ExecStart=/usr/bin/xrdb -merge /home/eddie/.Xresources
Type=oneshot
Environment=DISPLAY=:0

[Install]
WantedBy=mystuff.target